<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="9"
	android:versionName="2.1.1_reiryuki"
	android:compileSdkVersion="34"
	android:compileSdkVersionCodename="14"
	package="jp.co.sony.threesixtyra.settings"
	platformBuildVersionCode="34"
	platformBuildVersionName="14"
	>
	<uses-sdk
		android:minSdkVersion="29"
		android:targetSdkVersion="34"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.POST_NOTIFICATIONS"
		>
	</uses-permission>
	<queries
		>
		<package
			android:name="jp.co.sony.threesixtyra.system"
			>
		</package>
		<intent
			>
			<action
				android:name="android.intent.action.VIEW"
				>
			</action>
			<category
				android:name="android.intent.category.BROWSABLE"
				>
			</category>
			<data
				android:scheme="https"
				>
			</data>
		</intent>
		<intent
			>
			<action
				android:name="android.intent.action.TTS_SERVICE"
				>
			</action>
		</intent>
	</queries>
	<uses-feature
		android:name="android.hardware.camera"
		android:required="true"
		>
	</uses-feature>
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		android:required="true"
		>
	</uses-feature>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CAMERA"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<permission
		android:name="jp.co.sony.threesixtyra.settings.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
		>
	</permission>
	<uses-permission
		android:name="jp.co.sony.threesixtyra.settings.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_PROFILES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
		>
	</uses-permission>
	<application
		android:theme="@7F13000F"
		android:label="@7F120194"
		android:icon="@7F0E0000"
		android:name="jp.co.sony.hes.soundpersonalizer.SoundPersonalizerApplication"
		android:allowBackup="false"
		android:supportsRtl="false"
		android:extractNativeLibs="false"
		android:roundIcon="@7F0E0001"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		android:dataExtractionRules="@7F150001"
		>
		<receiver
			android:name="jp.co.sony.threesixtyra.settings.NotificationReceiver"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="jp.co.sony.threesixtyra.system.ACTION_SHOW_RECOMMENDATION"
					>
				</action>
				<action
					android:name="jp.co.sony.threesixtyra.system.ACTION_HIDE_RECOMMENDATION"
					>
				</action>
			</intent-filter>
		</receiver>
		<activity
			android:name="jp.co.sony.threesixtyra.settings.LauncherActivity"
			android:exported="true"
			android:configChanges="0x00000480"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="jp.co.sony.threesixtyra.settings.ACTION_PERSONALIZE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="jp.co.sony.threesixtyra.settings.ACTION_UPMIX"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F13018F"
			android:name="jp.co.sony.threesixtyra.settings.settingsmenu.SettingsMenuActivity"
			>
		</activity>
		<activity
			android:theme="@7F13000F"
			android:name="jp.co.sony.threesixtyra.settings.introduction.Introduction360raActivity"
			>
		</activity>
		<activity
			android:theme="@7F13000F"
			android:name="jp.co.sony.hes.soundpersonalizer.earcapture.activity.IaSetupActivity"
			android:screenOrientation="2"
			>
		</activity>
		<provider
			android:name="com.squareup.picasso.PicassoProvider"
			android:exported="false"
			android:authorities="jp.co.sony.threesixtyra.settings.com.squareup.picasso"
			>
		</provider>
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:exported="false"
			android:authorities="jp.co.sony.threesixtyra.settings.androidx-startup"
			>
			<meta-data
				android:name="androidx.emoji2.text.EmojiCompatInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.profileinstaller.ProfileInstallerInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
		</provider>
		<uses-library
			android:name="androidx.window.extensions"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="androidx.window.sidecar"
			android:required="false"
			>
		</uses-library>
		<receiver
			android:name="androidx.profileinstaller.ProfileInstallReceiver"
			android:permission="android.permission.DUMP"
			android:enabled="true"
			android:exported="true"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.INSTALL_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SKIP_FILE"
					>
				</action>
			</intent-filter>
		</receiver>
	</application>
</manifest>
